<!DOCTYPE html>
<html>
  <head>
    <title>oh note...</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  </head>
  <body>
    <div id="overlay" class="light-overlay">
      <h1 id="title">oh note...</h1>
      <form id="new-note-form" method="post">
        <input id="new-note-title" class="new-note-form" type="text" name="note-title" placeholder=" add a title...">
         <input id="new-note-text" class="new-note-form" type="text" name="content" placeholder="now write something...">
        <input type="submit" id="create-new-note" class="new-note-form" value="add">
      </form>
      <div class="all-notes">
      </div>
    </div>
    <script type="text/javascript" src="../src/note.js"></script>
    <script type="text/javascript" src="../src/noteList.js"></script>
    <script type="text/javascript" src="../helpers/selectors.js"></script>
    <script type="text/javascript" src="../helpers/createNote.js"></script>
    <script type="text/javascript" src="../helpers/fullScreenNote.js"></script>
    <script type="text/javascript" src="../interfaceLayer.js"></script>
  </body>
</html>
