html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(255,255,255, 0.6);
  height: 100%;
  width: 100%;
}

#title {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 8em;
  font-weight:lighter;
  margin: 0px;
  display: inline-block;
  margin-left: 60px;
}

.new-note-form {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 4em;
  background-color: #fff;
  margin-left: 40px;
  transition: 1s;
}

#new-note-text {
  border: none;
  width: 25%;
  padding-left: 20px;
  transition: 1s;
}

#new-note-text:focus {
  width: 50%;
  transition: 1s;
}

#new-note-text:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 1s;
  border: 1px solid #d6d6d6;
}

#new-note-title {
  border: none;
  width: 25%;
  padding-left: 20px;
  transition: 1s;
}

#new-note-title:focus {
  width: 50%;
  transition: 1s;
}

#new-note-title:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 1s;
  border: 1px solid #d6d6d6;
}

#create-new-note {
  border: 1px solid #000;
  width: 10%;
  float: right;
  margin-right: 60px;
  min-width: 170px;
}

#create-new-note:hover {
  background-color: #000;
  color: #fff;
  transition: 1s;
}

.all-notes {
  width: 100%;
}

.note {
  color: #000;
  background-color: #fff;
  height: 200px;
  width: 100px;
  margin: 60px;
  display: inline-block;
  width: 20%;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 2em;
  margin: 60px;
  padding: 20px;
}
