html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.light-overlay {
  background-color: rgba(255,255,255, 0.6);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.dark-overlay {
  background-color: rgba(0,0,0, 0.6);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#title {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 8em;
  font-weight:lighter;
  margin: 0px;
  display: inline-block;
  margin-left: 60px;
}

.new-note-form {
  font-family: 'Spectral SC', serif;
  font-size: 2em;
  padding: 1em;
  background-color: #fff;
  margin-left: 40px;
  transition: 1s;
}

#new-note-text {
  border: none;
  width: 25%;
  padding-left: 20px;
  transition: 1s;
}

#new-note-text:focus {
  width: 40%;
  transition: 1s;
}

#new-note-text:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 1s;
  border: 1px solid #d6d6d6;
}

#new-note-title {
  border: none;
  width: 25%;
  padding-left: 20px;
  transition: 1s;
}

#new-note-title:focus {
  width: 40%;
  transition: 1s;
}

#new-note-title:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 1s;
  border: 1px solid #d6d6d6;
}

#create-new-note {
  border: 1px solid #000;
  width: 10%;
  float: right;
  margin-right: 60px;
  min-width: 170px;
  border-radius: 0px;
  padding: 1em;
}

#create-new-note:hover {
  background-color: #000;
  color: #fff;
  transition: 1s;
}

.all-notes {
  max-width: 100%;
}

.note {
  color: #000;
  background-color: #fff;
  height: 200px;
  margin: 4%;
  display: inline-block;
  width: 15%;
  font-family: 'Spectral SC', serif;
  font-size: 1em;
  padding: 20px;
  transition: 1s;
  overflow: hidden;
  word-wrap: break-word;
}
.note:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  transition: 1s;
}

.note-title {
  font-weight: lighter;
}

.full-screen-note {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  font-family: 'Spectral SC', serif;
  width: 80%;
  min-height: 40em;
  word-wrap: break-word;
  background-color: #fff;
  padding: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.full-screen-note h1 {
  text-align: center;
  font-size: 4em;
}
